body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	transition: all 0,5s ease;
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}


h1, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

h2, h4 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color:	#333333;
}


ul, li {
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: background: rgba(195,108,215,1);
	background: -moz-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(195,108,215,1)), color-stop(50%, rgba(124,73,195,1)), color-stop(71%, rgba(124,73,195,1)), color-stop(86%, rgba(125,74,195,1)), color-stop(100%, rgba(125,74,195,1)));
	background: -webkit-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -o-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c36cd7', endColorstr='#7d4ac3', GradientType=1 );;
	padding: 30px 0;

}

.btn {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	border-radius: 24px;
	border: 1px solid #B69ADD;
	width: 170px;
	padding: 12px 0;
	display: block;
}

.btn:hover {
	background: #3425AF;
}

.nav {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

.menu-header {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.menu_item {
	margin-right: 30px;
}

.menu_item a {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.menu_item a:hover {
	border-bottom: 2px solid #fff;
}

.logo {
  margin-right: 256px;
}

.btn_header {
	margin-left: auto;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.title-text {
	font-size: 72px;
	line-height: 72px;
	margin-top: 150px;
}

.intro-header {
	font-weight: 600;
	width: 430px;
	margin-top: 26px;
}

.btn_offer{
	background: #FFC300;
	margin-top:37px;
	margin-bottom:170px;
}

.btn_offer:hover {
	background: #F2CF5B;
}

.desktop {
	margin-top: 72px;
}

.wrapper_quis {
	display: flex;
	justify-content: space-between;
}

.offer_quis {
	position: relative;
}

.title_quis {
	padding-top: 141px;
	color:	#333333;
	text-transform: uppercase;

}

.title_text_quis {
	font-size: 56px;
	line-height: 64px;
	color:	#333333;
	padding-top: 20px;
	padding-bottom: 55px;
}

.intro_quis {
	mix-blend-mode: normal;
	opacity: 0.5;
	color:	#333333;
}

.text_quis {
	font-weight: 600;
	color:	#333333;
	margin-bottom: 8px;
}

.text_quis:after {
	content: '';
	display: block;
	width: 170px;
	height: 10px;
	background: #C86DD7;
	margin-top: -10px;
}

.intro_quis {
	font-weight: 600;
	margin-bottom: 24px;
	mix-blend-mode: normal;
	width: 470px;

}

.quis_list {
	font-weight: 600;
	color:	#333333;
	margin-top: 46px;
	margin-bottom: 24px;

}

.quis_list_list {
	font-weight: 600;
	color:	#333333;
	margin-bottom: 186px;
}

.pic_quis {
	display: block;
	margin-top: 92px;
}

.btn_quis_quis {
	position: absolute;
	padding-top: 315px;
	padding-left: 435px;
}

.btn_quis {
	 display: inline-block;
	 width: 100px;
	 height: 80px;
	 background: url('../img/Triangle.png') no-repeat center;
	 cursor: pointer;
	 border-radius: 50%;
	 border: 1px solid #fff;
	 box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.101959);
}

.btn_quis:hover {
	background: #ffF;
}

.nisi {
	background: #FDF2FF;
}

.title_nisi {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color:	#333333;
	padding-top: 61px;
	padding-bottom: 18px;
}

.offer_nisi {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
}

.title_text_nisi {
	font-size: 56px;
	line-height: 64px;
	padding-bottom: 55px;
}

.intro_quis_nisi {
	width: 570px;
	color:	#333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.menu_nisi {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	padding-bottom: 42px;
}

.menu_item_nisi {
	margin-right: 32px;
}

.menu_item_nisi_nisi {
	margin-right: 32px;
}

.menu_item_nisi_nisi a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.menu_item_nisi a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.bitmap_pic {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: space-between;
}

.btn_nisi {
	background: #C86DD7;
	margin-top: 48px; 
	margin-left: 497px;
}

.btn_nisi:hover {
	background: #D38EDE;
}

.fugiat {
	margin-top: 71px;
}

.title_fugiat {
	font-size: 56px;
	line-height: 64px;
	text-align: center;
	color: #333333;
}

.intro_fugiat {
	font-weight: 600;
	text-align: center;
	color: #333333;
	padding-top: 23px;
	padding-bottom: 72px;
}

.skills_1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.skills_2 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
}

.skill {
	width: 322px;
	text-align: center;
}

.skill_text {
	text-align: center;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.skill_title {
	padding-top: 13px;
	padding-bottom: 10px;
}

/*.skill-title-quisquam:after {
	content: '';
	display: block;
	width: 170px;
	height: 10px;
	background: #C86DD7;
	margin-top: -10px;
	padding-top: 13px;
	padding-bottom: 10px;
}*/

.repellendus {
	background: #3023AE;
}

.image_repellendus {
	padding-top: 55px;
	padding-bottom: 150px;
}

.wrapper_repellendus {
	display: flex;
	justify-content: space-between;
}

.title_repellendus {
	text-transform: uppercase;
	padding-top: 173px;
	padding-bottom: 18px;
}

.title_text_repellendus {
	color: #fff;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	padding-bottom: 23px;
}

.intro_repellendus {
	width: 462px;
}

.officis {
	margin-top: 71px;
}

.title_officis {
	font-size: 56px;
	line-height: 64px;
	text-align: center;
	color: #333333;
}

.intro_officis {
	font-weight: 600;
	text-align: center;
	color: #333333;
	padding-top: 23px;
	padding-bottom: 71px;
}

.skills_1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.skill_officis {
	background: #fff;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
	border-radius: 3px;
	width: 370px;
	height: 272px;
}

.image_pic_girl1 {
	margin-bottom: 15px;
	
}

.intro_pic_girl1 {
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-bottom: 16px;
	width: 330px;

}

.name_gilr1 {
	color: #333333;

}

.inside_officis {
	margin: 32px;
}

.skills_1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 97px;
}

.partners_officis {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 70px;
}

.partner1 {
	margin-left: 25px;
}

.partner4 {
	height: 17px;
	margin-top: 6px;
}

.partners_officis {
	margin-bottom: 90px;
}

.nisi_aliquid {
	background: #FDF2FF;
}

.title_nisi_aliquid {
	font-weight: bold;
	text-transform: uppercase;
	color:	#333333;
	padding-top: 61px;
}

.title_text_nisi_aliquid {
	font-size: 56px;
	line-height: 64px;
	padding-top: 18px;
	padding-bottom: 23px;
}

.intro_nisi_aliquid {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.btn_nisi_aliquid {
	background: #C86DD7;
	margin-top: 32px; 
}

.btn_nisi_aliquid:hover {
	background: #D38EDE;
}

.wrapper_nisi_aliquid {
	display: flex;
	justify-content: space-between;
}

.offer_nisi_aliquid {
	padding-bottom: 60px;
}

.wrapper_nisi_aliquid {
	padding-top: 173px;
	padding-bottom: 80px;	
}

.title_text_footer {
	padding-top: 135px;
	padding-bottom: 23px;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	text-align: center;
}

.intro_footer {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	padding-bottom: 30px;
}

.form {
	display: flex;
	padding-left: 300px;
	padding-bottom: 222px;
}

.input {
	width: 368px;
	height: 50px;
	padding-left: 16px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 3px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.btn_form {
	background: #C86DD7;
	margin-left: 30px;
 
}

.btn_form:hover {
	background: #D38EDE;
}

.menu_footer {
	display: flex;
	justify-content: space-between;

}

.menu_item_footer_footer1 {
	margin-bottom: 8px;
}
.menu_item_footer1 {
	margin-bottom: 8px;
}

.menu_item_footer_footer1 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.menu_item_footer1 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.menu_item_footer_footer2 {
	margin-bottom: 8px;
}
.menu_item_footer2 {
	margin-bottom: 8px;
}

.menu_item_footer_footer2 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.menu_item_footer2 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.menu_item_footer_footer3 {
	margin-bottom: 8px;
}
.menu_item_footer3 {
	margin-bottom: 8px;
}

.menu_item_footer_footer3 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.menu_item_footer3 a {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.socical {
	display: flex;	
}


/*.image_social {
	padding-left: 8px;

}*/

.credits {
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
	padding-right: 100px;
}