body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: all 0,5s ease;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	background: background: rgba(195,108,215,1);
	background: -moz-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(195,108,215,1)), color-stop(50%, rgba(124,73,195,1)), color-stop(71%, rgba(124,73,195,1)), color-stop(86%, rgba(125,74,195,1)), color-stop(100%, rgba(125,74,195,1)));
	background: -webkit-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -o-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	background: linear-gradient(45deg, rgba(195,108,215,1) 0%, rgba(124,73,195,1) 50%, rgba(124,73,195,1) 71%, rgba(125,74,195,1) 86%, rgba(125,74,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c36cd7', endColorstr='#7d4ac3', GradientType=1 );;
	padding: 30px 0;
	color: #fff;
}

.btn {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	border-radius: 24px;
	border: 1px solid #B69ADD;
	width: 170px;
	padding: 12px 0;
	display: block;
}

.btn:hover {
	background: #3425AF;
}

.nav {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	align-items: center;
}

.menu {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.menu_item {
	margin-right: 30px;
}

.menu_item a {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.menu_item a:hover {
	border-bottom: 2px solid #fff;
}

.logo {
  margin-right: 256px;
}

.btn_header {
	margin-left: auto;
}
.oval {
	margin-left: auto;
	margin-top: 100px;
}

.wrapper {
	display: flex;
	justify-content: space-between;

}

.title-text {
	font-weight: bold;
	font-size: 72px;
	line-height: 72px;
	margin-top: 150px;
}

.intro {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	width: 430px;
	margin-top: 26px;
	margin-bottom: 34px;
}

.btn_offer{
	background: #FFC300;
}

.btn_offer:hover {
	background: #F2CF5B;
}


.desktop {
	margin-top: 72px;
}
